<div class='ui grid product'>
  <div class='three column row'>
    <div class='column'>
      <img src="images/snickerdoodles.jpg">
      <h3><%= @snickerdoodle.type %></h3>
      <p><%= @snickerdoodle.description %></p>
      <p><%= @snickerdoodle.price %></p>
    </div>
    <div class='column'>
      <img src="images/madeleines.jpg">
      <h3><%= @madeleine.type %></h3>
      <p><%= @madeleine.description %></p>
      <p><%= @madeleine.price %></p>
    </div>
    <div class='column'>
      <img src="images/butterscotch.jpg">
      <h3><%= @butterscotch.type %></h3>
      <p><%= @butterscotch.description %></p>
      <p><%= @butterscotch.price %></p>
    </div>
  </div>
</div>
